### Build ###
target/
build/

### Maven ###
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

### Ignore JARs ###
*.jar
*.war

### Application secrets ###
src/main/resources/application.properties

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VSCode ###
.vscode/

### Logs ###
*.log
logs/

### OS ###
.DS_Store
Thumbs.db

HELP.md
